.App {
}

.App-Container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-Summary {
  flex: 30%;
  padding: 20px;
}

.Checkin-Progress {
  margin-bottom: 40px;
}
